# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# macos
.DS_Store
software-design-pattern.iml
#IDEA
.idea/
# eclipse
.classpath
.project
.settings/
# vscode
.vscode/